<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887999796925-42rvmpn97027eat3u8d7b5lnh7iob7ar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887999796925-42rvmpn97027eat3u8d7b5lnh7iob7ar</string>
	<key>API_KEY</key>
	<string>AIzaSyBIT8lkhLjSlGip0hRiMMfXGVIQGH9NpIk</string>
	<key>GCM_SENDER_ID</key>
	<string>887999796925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FirestoreApp02</string>
	<key>PROJECT_ID</key>
	<string>firestoreapp02</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoreapp02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887999796925:ios:88098dfd967660430789d4</string>
</dict>
</plist>